* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

#header-img{
  height: auto;
  max-width: 300px;
  text-align: center;
  margin-left: 20px;
}
nav > a {
  font-size: 1.2rem;
  padding: 0 2rem;
  margin-left:1.5rem;
}
main{
  text-align: center;
  margin-top: 80px;

}

#submit {
  width: 150px;
  height: 30px;
  margin: .94rem 0;
  font-weight: 900;
  background-color: #F1C40F;
  cursor: pointer;
}

input[type="email"] {
  font-size: .83rem;
  font-weight: 400;
  width: 275px;
  padding: .32rem;
}
#features{
  width:80vw;
  margin: auto;
}
 #features p{
   margin-top:.1rem;
}
#features h2{
  margin:0; 
}
iframe{
  display: block;
  margin: auto;
}

.products{
  display: flex;
  justify-content: space-evenly;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.product{
  background-color: #EEEEEE;
    border: 1px black solid;
    height: fit-content;
    text-align: center;
    border-radius: 3px;
    margin-top: .5rem;
    padding: 0 0 .5rem;
    width: 280px;
}
.button{
  padding: 1rem 1.5rem;
  background-color: orange;
}
.flutes{
  background-color: #c3c3c3;
  padding-top: .5rem;

  margin: 0;
  font-weight: 800;
}
footer{
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}
footer>span{
  margin-top: 5px;
  margin-left: 5px;
}



/* HELPER STYLES START
======================
 */
.flex{
  display: flex;
}
.justify-contents{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.flex-grow{
  flex-grow: .6;
}
.flex-col{
  flex-direction: column;
}
.flex-start{
   align-items: flex-start;
}
.flex-end{
  align-items: flex-end;
}
  /* HELPER STYLES END
======================
 */
 